<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable46-win81+wpa81" />
  <package id="Q42.WinRT" version="1.5.2.42" targetFramework="portable46-win81+wpa81" />
  <package id="Q42.WinRT.Portable" version="1.2.3.42" targetFramework="portable-win81+wpa81" />
</packages>